<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makekit">

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="2665d1b7d7c17c66c63f06b53a93690d" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- kyeongmi  -->
    <!--  현 위치 가져오기  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeKit"
        android:usesCleartextTraffic="true">
        <activity android:name=".makekit_activity.EmailCheckActivity"></activity>
        <activity android:name=".makekit_activity.NoticeActivity" />
        <activity android:name=".makekit_activity.ProductList"></activity>
<!--        <activity android:name=".makekit_activity.NoticeActivity" />-->


        <!--  구글 API 추가      -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSE8np8XqqfILhQ7CLcFMC339smKhwItY" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!-- 끝      -->
        <activity android:name=".makekit_activity.WebViewActivity" />
        <activity android:name=".makekit_activity.IntroViewActivity" />
        <activity android:name=".makekit_activity.FindPwActivity" />
        <activity android:name=".makekit_activity.FindIdActivity" />
        <activity android:name=".makekit_activity.SplashActivity" />
        <activity android:name=".makekit_activity.OrderViewActivity" />
        <activity android:name=".makekit_activity.PaymentActivity" />
        <activity android:name=".makekit_activity.ProdutctViewActivity" />
        <activity android:name=".makekit_activity.ReviewListActivity" />
        <activity android:name=".makekit_activity.LikeSellerActivity" />
        <activity android:name=".makekit_activity.SaleListActivity" />
        <activity android:name=".makekit_activity.BuyListActivity" />
        <activity android:name=".makekit_activity.MainActivity" />
        <activity android:name=".makekit_activity.ChatcontentActivity" />
        <activity android:name=".makekit_activity.MapActivity" >

        </activity>
        <activity android:name=".makekit_activity.OrderActivity" />
        <activity android:name=".makekit_activity.CartActivity" />
        <activity android:name=".makekit_activity.LikeProductActivity" />
        <activity android:name=".makekit_activity.SearchActivity" />
        <activity android:name=".makekit_activity.JoinActivity">
            android:icon="@drawable/img_logo"

            android:name=".makekit_activity.MainActivity"
            android:icon="@drawable/img_logo"
            android:theme="@style/Theme.MakeKit.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".makekit_activity.LoginActivity" />

        <activity android:name=".makekit_activity.UserModifyActivity">

        </activity>
    </application>

</manifest>
